{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="admin_form" method="POST">
    <label for="id">Id:</label>
    <input type="number" name="id" id="id">
    <label for="credits">Set Credits:</label>
    <input type="number" name="credits" id="credits">
    <button type="submit">Update</button>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Credits</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td> <!-- ID -->
            <td>{{ user[1] }}</td> <!-- username -->
            <td>{{ user[2] }}</td> <!-- credits -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}