[Unit]
Description=Washmaster Flask Application
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/aimiliosdraginis/flask
ExecStart=/home/aimiliosdraginis/venv/bin/waitress-serve --listen=0.0.0.0:80 --call 'washmaster:create_app'
Restart=always

[Install]
WantedBy=multi-user.target

